<!-- turn debug=true on for logback-test.xml to help debug logging configurations. -->
<configuration debug="true">
    <appender name="fileAppender1" class="ch.qos.logback.core.FileAppender">
        <file>/home/guven/Documents/kp-ws.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.mahallem.Config.MaskingPatternLayout">
                <patternsProperty> password.*|.*karthik.*</patternsProperty>
                <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="fileAppender1" />
    </root>

</configuration>